/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  position: relative;
  height: 100%;
}

strong {
  font-weight: 700;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

em {
  font-style: italic;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea,
input[type=text],
input[type=button],
input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
  outline: none;
}

button {
  -webkit-appearance: none;
}

main {
  transition: all 0.4s ease-out;
  display: block;
  transform-origin: center center;
  height: 100%;
}

* {
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: basierRegular;
  src: url(fonts/BasierSquareMono-Regular.otf);
}
@font-face {
  font-family: Frutiger;
  src: url(fonts/Frutiger.ttf);
}
@font-face {
  font-family: museoLight;
  src: url(fonts/MuseoSans-100.otf);
}
@font-face {
  font-family: museoRegular;
  src: url(fonts/MuseoSans-300.otf);
}
@font-face {
  font-family: museoSemiBold;
  src: url(fonts/MuseoSans-500.otf);
}
@font-face {
  font-family: museoBold;
  src: url(fonts/MuseoSans-700.otf);
}
@font-face {
  font-family: museoExtraBold;
  src: url(fonts/MuseoSans-900.otf);
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  max-height: 1024px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/*MODULES*/
header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 40px;
  z-index: 2;
  text-align: center;
}
header .header-content a img {
  height: 100%;
  width: 160px;
}
@media (min-width: 0) and (max-width: 768px) {
  header .header-content a img {
    width: 130px;
  }
}

.hero {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.hero .wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.hero .wrapper .campaign {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 0;
  bottom: 0;
  object-fit: cover;
}
.hero .wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.hero .wrapper .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  top: 166px;
}
.hero .wrapper .hero-content article {
  width: 560px;
  margin: 0 auto;
  transform: translateY(20%);
}
@media (min-width: 0) and (max-width: 600px) {
  .hero .wrapper .hero-content article {
    max-width: 450px;
    width: 100%;
    transform: translateY(10%);
  }
}
@media (min-width: 0) and (max-width: 450px) {
  .hero .wrapper .hero-content article {
    width: 100%;
    transform: translateY(5%);
  }
}
.hero .wrapper .hero-content article h1 {
  font-family: basierRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
@media (min-width: 0) and (max-width: 768px) {
  .hero .wrapper .hero-content article h1 {
    font-size: 30px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .hero .wrapper .hero-content article h1 {
    font-size: 24px;
    line-height: 20px;
  }
}
.hero .wrapper .hero-content article h2 {
  font-family: museoExtraBold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(210, 35, 42, 0.6);
  margin: 23px 40px 23px 40px;
}
@media (min-width: 0) and (max-width: 768px) {
  .hero .wrapper .hero-content article h2 {
    font-size: 50px;
    margin: 23px 70px 23px 70px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .hero .wrapper .hero-content article h2 {
    font-size: 40px;
    margin: 23px 70px 23px 70px;
  }
}
@media (min-width: 0) and (max-width: 450px) {
  .hero .wrapper .hero-content article h2 {
    font-size: 40px;
    margin: 23px 0 23px 0;
  }
}
.hero .wrapper .hero-content article .interrogations {
  font-family: museoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media (min-width: 0) and (max-width: 768px) {
  .hero .wrapper .hero-content article .interrogations {
    font-size: 12px;
  }
}
.hero .wrapper .hero-content article .answers {
  margin-top: 10px;
  font-family: museoBold;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media (min-width: 0) and (max-width: 768px) {
  .hero .wrapper .hero-content article .answers {
    font-size: 12px;
  }
}
.hero .wrapper .hero-content article .btn-type-one {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 54px;
  text-align: center;
  cursor: pointer;
  transition: transform 1.5s;
}
@media (min-width: 0) and (max-width: 768px) {
  .hero .wrapper .hero-content article .btn-type-one {
    width: 120px;
    height: 120px;
    margin-top: 40px;
  }
}
.hero .wrapper .hero-content article .btn-type-one:hover {
  transform: scale(1.15, 1.15);
}
.hero .wrapper .hero-content article .btn-type-one a {
  font-family: basierRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 0) and (max-width: 768px) {
  .hero .wrapper .hero-content article .btn-type-one a {
    font-size: 16px;
    line-height: 115px;
  }
}

.questions {
  width: 100%;
  height: 100%;
}
.questions .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.questions .wrapper .questions-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0;
  margin: 0 auto;
  overflow: hidden;
}
.questions .wrapper .questions-container h2 {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  height: 86px;
  font-family: basierRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  z-index: 3;
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container h2 {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    width: 335px;
    height: 40px;
    top: 30px;
  }
}
.questions .wrapper .questions-container h2 .bold {
  font-weight: 900;
}
.questions .wrapper .questions-container .shadow-top {
  font-size: 0;
  background: rgba(0, 0, 0, 0.8);
  filter: blur(150px);
  position: absolute;
  width: 100%;
  height: 345px;
  left: 0px;
  top: -132px;
  z-index: 1;
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container .shadow-top {
    position: absolute;
    width: 375px;
    height: 115px;
    left: 0px;
    top: -49px;
  }
}
.questions .wrapper .questions-container .option {
  display: inline-block;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: black;
  width: 33.33%;
  height: 100%;
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container .option {
    width: 100%;
    height: 30%;
  }
  .questions .wrapper .questions-container .option:nth-of-type(2) {
    height: 40%;
  }
  .questions .wrapper .questions-container .option:nth-of-type(3) {
    height: 30%;
  }
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container .option a {
    text-decoration: none;
  }
}
.questions .wrapper .questions-container .option a .option-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.questions .wrapper .questions-container .option a .option-info {
  width: 100%;
  position: absolute;
  top: 208px;
  z-index: 3;
  transform: translate(0, 120px);
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container .option a .option-info {
    position: relative;
    transform: translate(0, -380px);
  }
}
.questions .wrapper .questions-container .option a .option-info .geometric {
  height: 280px;
  transition: transform 1.5s;
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container .option a .option-info .geometric {
    height: 120px;
    top: 94px;
    transition: transform 1.5s;
  }
}
.questions .wrapper .questions-container .option a .option-info .geometric:hover {
  transform: translateY(-40px) rotate(180deg) scale(1.15, 1.15);
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container .option a .option-info .geometric:hover {
    transform: rotate(180deg) scale(1.1, 1.1);
  }
}
.questions .wrapper .questions-container .option a .option-info p {
  height: 58px;
  top: 510px;
  font-family: museoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 22px;
}
.questions .wrapper .questions-container .option a .option-info p span {
  display: block;
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container .option a .option-info p span {
    display: inline-block;
  }
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container .option a .option-info p {
    font-size: 13px;
    line-height: 16px;
    margin-top: 15px;
  }
}
.questions .wrapper .questions-container .option:hover .partial-overlay {
  opacity: 1;
}
.questions .wrapper .questions-container .option .partial-overlay {
  font-size: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  background-color: rgba(210, 35, 42, 0.7);
  mix-blend-mode: color;
  z-index: 2;
}
.questions .wrapper .questions-container .shadow-bottom {
  font-size: 0;
  background: rgba(0, 0, 0, 0.8);
  filter: blur(150px);
  position: absolute;
  width: 100%;
  height: 345px;
  left: 0px;
  bottom: -132px;
  z-index: 1;
}
@media (min-width: 0) and (max-width: 450px) {
  .questions .wrapper .questions-container .shadow-bottom {
    position: absolute;
    width: 375px;
    height: 115px;
    left: 0px;
    top: 727px;
  }
}

.loader {
  width: 100%;
  height: 100%;
  position: relative;
}
.loader .wrapper {
  width: 100%;
  height: 100%;
  background-color: black;
}
.loader .wrapper .loading {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}
.loader .wrapper .loading .identity-loader {
  width: 250px;
  height: 250px;
}
@media (min-width: 0) and (max-width: 600px) {
  .loader .wrapper .loading .identity-loader {
    width: 200px;
    height: 200px;
  }
}
.loader .wrapper .loading p {
  font-family: basierRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  transform: translate(0, -25px);
}
@media (min-width: 0) and (max-width: 600px) {
  .loader .wrapper .loading p {
    font-size: 14px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .loader .wrapper .loading p {
    font-size: 12px;
  }
}

.profile .wrapper {
  background-color: black;
  overflow: hidden;
}
.profile .wrapper article {
  width: 100%;
  height: 700px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 25px;
  text-align: center;
}
.profile .wrapper article .logo {
  margin-bottom: 25px;
}
.profile .wrapper article .logo p {
  font-family: Frutiger;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 10px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 15px;
}
.profile .wrapper article .id {
  width: 266px;
  height: 120px;
  position: relative;
  font-size: 0;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  transition: left 0.5s ease-in-out;
}
.profile .wrapper article .id .containerImage {
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s ease-in-out;
}
.profile .wrapper article .id .containerImage.show {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.profile .wrapper article .id .containerImage.hide {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.profile .wrapper article .id.idLeft {
  left: 380px;
}
.profile .wrapper article .text {
  width: 390px;
  text-align: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  padding: 0;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper article .text {
    padding: 0 25px;
  }
}
.profile .wrapper article .text.hide {
  opacity: 0;
}
.profile .wrapper article .text .description-one {
  font-family: museoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 10px;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper article .text .description-one {
    font-size: 14px;
    line-height: 17px;
    top: 299px;
  }
}
.profile .wrapper article .text .description-one .oneRed {
  font-family: basierRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 150%;
  color: #da441f;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper article .text .description-one .oneRed {
    font-size: 17px;
    line-height: 21px;
  }
}
.profile .wrapper article .text .description-one .oneYellow {
  font-family: basierRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 150%;
  color: #dabc1f;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper article .text .description-one .oneYellow {
    font-size: 17px;
    line-height: 21px;
  }
}
.profile .wrapper article .text .description-one .oneGreen {
  font-family: basierRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 150%;
  color: #5feebb;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper article .text .description-one .oneGreen {
    font-size: 17px;
    line-height: 21px;
  }
}
.profile .wrapper article .text .description-two {
  font-family: museoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper article .text .description-two {
    top: 394px;
    font-size: 13px;
    line-height: 29px;
  }
}
.profile .wrapper article .text .description-two .cinema {
  color: #da441f;
}
.profile .wrapper article .text .description-two .exhibition {
  color: #dabc1e;
}
.profile .wrapper article .text .description-two .music {
  color: #5feebb;
}
.profile .wrapper .container div {
  position: absolute;
  display: inline-block;
}
.profile .wrapper .container div.event {
  pointer-events: none;
}
.profile .wrapper .container div.triangle {
  width: 700px;
  height: 700px;
  top: 0;
  left: -155px;
  transition: 0.5s ease-in-out;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper .container div.triangle {
    display: none;
  }
}
.profile .wrapper .container div.triangle .containerImage.rotate {
  top: 55px;
  left: -100px;
  transform: rotate(15deg);
}
.profile .wrapper .container div.triangle .containerImage.show {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.profile .wrapper .container div.triangle .containerImage.hide {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.profile .wrapper .container div.triangle.animation-tri {
  top: -50px;
  left: 450px;
  transform: rotate(-15deg);
}
.profile .wrapper .container div.triangle.animation-square {
  transition: transform 0.5s ease-in-out forwards;
  left: 450px;
  top: 250px;
  transform: rotate(-25deg);
  opacity: 0.4;
}
.profile .wrapper .container div.triangle.animation-circle {
  animation: transform 0.5s ease-in-out forwards;
  top: 100px;
  left: 900px;
  transform: rotate(20deg);
  opacity: 0.4;
}
.profile .wrapper .container div.square {
  width: 500px;
  height: 430px;
  right: 150px;
  top: -100px;
  transition: 0.5s ease-in-out;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper .container div.square {
    display: none;
  }
}
.profile .wrapper .container div.square .containerImage.rotate {
  top: -25px;
  right: -20px;
  transform: rotate(-15deg);
}
.profile .wrapper .container div.square .containerImage.show {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.profile .wrapper .container div.square .containerImage.hide {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.profile .wrapper .container div.square.animation-tri {
  transition: transform 0.5s ease-in-out forwards;
  right: 150px;
  top: 450px;
  transform: rotate(50deg);
  opacity: 0.3;
}
.profile .wrapper .container div.square.animation-square {
  transition: transform 0.5s ease-in-out forwards;
  right: 480px;
  top: 150px;
  transform: rotate(15deg);
}
.profile .wrapper .container div.square.animation-circle {
  transition: transform 0.5s ease-in-out forwards;
  right: 50px;
  top: 350px;
  transform: rotate(-15deg);
  opacity: 0.4;
}
.profile .wrapper .container div.circle {
  width: 290px;
  height: 290px;
  bottom: 350px;
  right: 50px;
  transition: 0.5s ease-in-out;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper .container div.circle {
    display: none;
  }
}
.profile .wrapper .container div.circle .containerImage.show {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.profile .wrapper .container div.circle .containerImage.hide {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.profile .wrapper .container div.circle.animation-tri {
  transition: transform 0.5s linear;
  transform-origin: top right;
  transform-style: preserve-3D;
  transform: rotate(-20deg);
  opacity: 0.4;
}
.profile .wrapper .container div.circle.animation-square {
  right: 60px;
  bottom: 240px;
  opacity: 0.4;
  transition: transform 0.5s linear;
  transform-origin: top;
  transform-style: preserve-3D;
  transform: rotate(15deg);
}
.profile .wrapper .container div.circle.animation-circle {
  bottom: 500px;
  right: 550px;
}
.profile .wrapper .container .trianglePer {
  position: absolute;
  top: 80px;
  right: 350px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.profile .wrapper .container .trianglePer.show {
  opacity: 1;
}
.profile .wrapper .container .trianglePer p {
  color: #fff;
  font-family: museoBold;
  font-weight: bold;
  font-size: 120px;
  vertical-align: bottom;
}
.profile .wrapper .container .trianglePer p .per {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 10px;
  font-size: 70px;
}
.profile .wrapper .container .trianglePer p .text {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: basierRegular;
  font-weight: initial;
}
.profile .wrapper .container .squarePer {
  position: absolute;
  top: 250px;
  right: 350px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.profile .wrapper .container .squarePer.show {
  opacity: 1;
}
.profile .wrapper .container .squarePer p {
  color: #fff;
  font-family: museoBold;
  font-weight: bold;
  font-size: 120px;
  vertical-align: bottom;
}
.profile .wrapper .container .squarePer p .per {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 10px;
  font-size: 70px;
}
.profile .wrapper .container .squarePer p .text {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: basierRegular;
  font-weight: initial;
}
.profile .wrapper .container .circlePer {
  position: absolute;
  top: 150px;
  right: 500px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.profile .wrapper .container .circlePer.show {
  opacity: 1;
}
.profile .wrapper .container .circlePer p {
  color: #fff;
  font-family: museoBold;
  font-weight: bold;
  font-size: 120px;
  vertical-align: bottom;
}
.profile .wrapper .container .circlePer p .per {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 10px;
  font-size: 70px;
}
.profile .wrapper .container .circlePer p .text {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: basierRegular;
  font-weight: initial;
}
.profile .wrapper .container .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 650px;
  height: 680px;
  margin-left: 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.profile .wrapper .container .description.show {
  opacity: 1;
}
.profile .wrapper .container .description .title {
  position: relative;
  left: 47%;
  transform: translateX(-50%);
  margin-bottom: 25px;
}
.profile .wrapper .container .description .title.titleCircle {
  position: absolute;
}
.profile .wrapper .container .description .title p {
  font-size: 24px;
  font-family: basierRegular;
  color: #fff;
}
.profile .wrapper .container .description .title p span {
  text-transform: uppercase;
}
.profile .wrapper .container .description .image {
  padding: 0;
  position: relative;
  left: 0;
}
.profile .wrapper .container .description .image.imageCircle {
  margin-top: 50px;
  left: 50px;
}
.profile .wrapper .container .description .titleAndDescription {
  position: absolute;
  width: 420px;
  top: 350px;
  left: 200px;
  color: #fff;
  padding-right: 10px;
}
.profile .wrapper .container .description .titleAndDescription h1 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: museoBold;
}
.profile .wrapper .container .description .titleAndDescription h2 {
  font-size: 17px;
  margin-bottom: 8px;
  font-family: museoBold;
}
.profile .wrapper .container .description .titleAndDescription p {
  font-size: 17px;
  margin-bottom: 25px;
  font-family: museoRegular;
}
.profile .wrapper .container .description .titleAndDescription p.text {
  font-size: 15px;
  line-height: 28px;
}
.profile .wrapper .container .submit {
  position: relative;
  width: 1050px;
  height: 250px;
  text-align: center;
  padding-top: 0;
  transition: 0.3s ease-in;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper .container .submit {
    width: 335px;
    padding: 25px;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}
.profile .wrapper .container .submit h1 .first {
  font-family: basierRegular;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper .container .submit h1 .first {
    font-size: 13px;
    line-height: 29px;
  }
}
.profile .wrapper .container .submit h1 .second {
  font-family: basierRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  display: block;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper .container .submit h1 .second {
    font-size: 13px;
    line-height: 29px;
    margin-top: 15px;
  }
}
.profile .wrapper .container .submit.hide {
  opacity: 0;
}
.profile .wrapper .container .submit .box {
  display: inherit;
  text-align: left;
  width: 500px;
  height: 150px;
  position: relative;
  margin: 25px auto;
}
.profile .wrapper .container .submit .box span {
  display: inline-block;
  width: 60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper .container .submit .box span {
    width: 30%;
  }
}
.profile .wrapper .container .submit .box span input {
  display: block;
  margin-bottom: 25px;
  border: none;
  border-bottom: 3px solid #fff;
  color: white;
  background: transparent;
  width: 100%;
  padding: 0 0 10px 25px;
}
.profile .wrapper .container .submit .box span input::placeholder {
  color: #fff;
  opacity: 1;
}
.profile .wrapper .container .submit .box .button {
  display: inline-block;
  height: 150px;
  width: 150px;
  vertical-align: top;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-left: 25px;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper .container .submit .box .button {
    width: 120px;
    height: 120px;
    margin-left: 15px;
  }
}
.profile .wrapper .container .submit .box .button:hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;
}
.profile .wrapper .container .submit .box .button a {
  font-family: basierRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 135px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile .wrapper .container .submit .box .button a {
    font-size: 16px;
    line-height: 115px;
  }
}

.profile-share {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.profile-share .wrapper {
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.profile-share .wrapper .identification-logo {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}
.profile-share .wrapper .identification-logo a {
  text-align: center;
  text-decoration: none;
}
.profile-share .wrapper .identification-logo a .logo-ccb {
  text-align: center;
  height: 45px;
  display: block;
  margin: 0 auto;
}
.profile-share .wrapper .identification-logo a .motto {
  margin-top: 14px;
  font-family: Frutiger;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.profile-share .wrapper .image-content {
  top: 0;
  left: 0;
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: left;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile-share .wrapper .image-content {
    position: absolute;
    width: 100%;
    height: 90%;
    display: block;
    top: 0;
  }
}
.profile-share .wrapper .image-content .phone {
  position: absolute;
  width: 273.41px;
  height: 550px;
  left: 402px;
  top: 150px;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile-share .wrapper .image-content .phone {
    left: 0;
    right: 0;
    height: 70%;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}
.profile-share .wrapper .social-media {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: left;
  top: 0;
  right: 0;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile-share .wrapper .social-media {
    background: black;
    width: 100%;
    height: 100%;
    display: block;
    top: 90%;
  }
}
.profile-share .wrapper .social-media article {
  position: absolute;
  top: 230px;
  left: 0px;
  width: 100%;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile-share .wrapper .social-media article {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.profile-share .wrapper .social-media article .generic-graphic {
  display: inline-block;
  width: 120px;
  height: 120px;
  position: relative;
  transform: translateX(-10px);
}
@media (min-width: 0) and (max-width: 450px) {
  .profile-share .wrapper .social-media article .generic-graphic {
    transform: translateX(20px);
  }
}
.profile-share .wrapper .social-media article .culture-items {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  width: 140px;
  height: 87px;
  left: 120px;
  right: 20px;
  transform: translateY(20px);
}
@media (min-width: 0) and (max-width: 450px) {
  .profile-share .wrapper .social-media article .culture-items {
    left: 150px;
  }
}
.profile-share .wrapper .social-media article .culture-items li {
  width: 120px;
  left: 723px;
  top: 138px;
  font-family: museoSemiBold;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  color: #da441f;
  text-align: left;
}
.profile-share .wrapper .social-media article .culture-items li:nth-child(2) {
  color: #dabc1e;
}
.profile-share .wrapper .social-media article .culture-items li:nth-child(3) {
  color: #5feebb;
}
.profile-share .wrapper .social-media article .message-one {
  font-family: basierRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 25px;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile-share .wrapper .social-media article .message-one {
    text-align: center;
  }
}
@media (min-width: 0) and (max-width: 450px) {
  .profile-share .wrapper .social-media article .media-logos {
    text-align: center;
  }
}
.profile-share .wrapper .social-media article .media-logos li {
  display: inline-block;
  transform: translateY(10px);
}
.profile-share .wrapper .social-media article .media-logos li a {
  position: relative;
  margin-right: 12px;
}
.profile-share .wrapper .social-media article .media-logos li a .social-logo {
  height: 40px;
}
.profile-share .wrapper .social-media article .message-two {
  margin-top: 50px;
  width: 313px;
  height: 96px;
  font-family: museoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media (min-width: 0) and (max-width: 450px) {
  .profile-share .wrapper .social-media article .message-two {
    text-align: center;
  }
}
.profile-share .wrapper .social-media article .message-two .hashtag {
  font-family: museoBold;
}