$font: basierRegular;
$font2: Frutiger;
$copy-font1: museoLight;
$copy-font2: museoRegular;
$copy-font3: museoSemiBold;
$copy-font4: museoBold;
$copy-font5: museoExtraBold;

@font-face {
  font-family: basierRegular;
  src: url(fonts/BasierSquareMono-Regular.otf);
}
@font-face {
  font-family: Frutiger;
  src: url(fonts/Frutiger.ttf);
}
@font-face {
  font-family: museoLight;
  src: url(fonts/MuseoSans-100.otf);
}
@font-face {
  font-family: museoRegular;
  src: url(fonts/MuseoSans-300.otf);
}
@font-face {
  font-family: museoSemiBold;
  src: url(fonts/MuseoSans-500.otf);
}
@font-face {
  font-family: museoBold;
  src: url(fonts/MuseoSans-700.otf);
}
@font-face {
  font-family: museoExtraBold;
  src: url(fonts/MuseoSans-900.otf);
}
