header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 40px;
  z-index: 2;
  text-align: center;
  .header-content {
    a {
      img {
        height: 100%;
        width: 160px;
        @include mq(0, 768px) {
          width: 130px;
        }
      }
    }
  }
}
