.hero {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .campaign {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      z-index: 0;
      bottom: 0;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      background: rgba(0, 0, 0, 0.6);
      font-size: 0;
      z-index: 1;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    .hero-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      text-align: center;
      top: 166px;
      article {
        width: 560px;
        margin: 0 auto;
        transform: translateY(20%);
        @include mq(0, 600px) {
          max-width: 450px;
          width: 100%;
          transform: translateY(10%);
        }
        @include mq(0, 450px) {
          width: 100%;
          transform: translateY(5%);
        }
        h1 {
          font-family: $font;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 45px;
          text-align: center;
          color: #ffffff;
          margin-bottom: 10px;
          @include mq(0, 768px) {
            font-size: 30px;
          }
          @include mq(0, 600px) {
            font-size: 24px;
            line-height: 20px;
          }
        }
        h2 {
          font-family: $copy-font5;
          font-style: normal;
          font-weight: bold;
          font-size: 60px;
          line-height: 72px;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          background: rgba(210, 35, 42, 0.6);
          margin: 23px 40px 23px 40px;
          @include mq(0, 768px) {
            font-size: 50px;
            margin: 23px 70px 23px 70px;
          }
          @include mq(0, 600px) {
            font-size: 40px;
            margin: 23px 70px 23px 70px;
          }
          @include mq(0, 450px) {
            font-size: 40px;
            margin: 23px 0 23px 0;
          }
        }
        .interrogations {
          font-family: $copy-font2;
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 25px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #ffffff;
          @include mq(0, 768px) {
            font-size: 12px;
          }
        }
        .answers {
          margin-top: 10px;
          font-family: $copy-font4;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #ffffff;
          @include mq(0, 768px) {
            font-size: 12px;
          }
        }
        .btn-type-one {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 3px solid #ffffff;
          box-sizing: border-box;
          margin: 0 auto;
          margin-top: 54px;
          text-align: center;
          cursor: pointer;
          transition: transform 1.5s;
          @include mq(0, 768px) {
            width: 120px;
            height: 120px;
            margin-top: 40px;
          }
          &:hover {
            transform: scale(1.15, 1.15);
          }
          a {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 140px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #ffffff;
            text-decoration: none;
            @include mq(0, 768px) {
              font-size: 16px;
              line-height: 115px;
            }
          }
        }
      }
    }
  }
}
