.loader {
  width: 100%;
  height: 100%;
  position: relative;
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    .loading {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      margin: 0 auto;
      text-align: center;
      top: 50%;
      transform: translate(0, -50%);
      .identity-loader {
        width: 250px;
        height: 250px;
        @include mq(0, 600px) {
          width: 200px;
          height: 200px;
        }
      }
      p {
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
        transform: translate(0, -25px);
        @include mq(0, 600px) {
          font-size: 14px;
        }
        @include mq(0, 400px) {
          font-size: 12px;
        }
      }
    }
  }
}
