.profile-share {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .wrapper {
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    .identification-logo {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      z-index: 2;
      a {
        text-align: center;
        text-decoration: none;
        .logo-ccb {
          text-align: center;
          height: 45px;
          display: block;
          margin: 0 auto;
        }
        .motto {
          margin-top: 14px;
          font-family: $font2;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 10px;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
      }
    }
    .image-content {
      top: 0;
      left: 0;
      display: inline-block;
      width: 50%;
      height: 100%;
      position: absolute;
      text-align: left;
      @include mq(0, 450px) {
        position: absolute;
        width: 100%;
        height: 90%;
        display: block;
        top: 0;
      }
      .phone {
        position: absolute;
        width: 273.41px;
        height: 550px;
        left: 402px;
        top: 150px;
        @include mq(0, 450px) {
          left: 0;
          right: 0;
          height: 70%;
          width: auto;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .social-media {
      display: inline-block;
      width: 50%;
      height: 100%;
      position: absolute;
      text-align: left;
      top: 0;
      right: 0;
      @include mq(0, 450px) {
        background: black;
        width: 100%;
        height: 100%;
        display: block;
        top: 90%;
      }
      article {
        position: absolute;
        top: 230px;
        left: 0px;
        width: 100%;
        @include mq(0, 450px) {
          width: 300px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .generic-graphic {
          display: inline-block;
          width: 120px;
          height: 120px;
          position: relative;
          transform: translateX(-10px);
          @include mq(0, 450px) {
            transform: translateX(20px);
          }
        }
        .culture-items {
          display: inline-block;
          position: absolute;
          vertical-align: middle;
          width: 140px;
          height: 87px;
          left: 120px;
          right: 20px;
          transform: translateY(20px);
          @include mq(0, 450px) {
            left: 150px;
          }
          li {
            width: 120px;
            left: 723px;
            top: 138px;
            font-family: $copy-font3;
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 28px;
            color: #da441f;
            text-align: left;
            &:nth-child(2) {
              color: #dabc1e;
            }
            &:nth-child(3) {
              color: #5feebb;
            }
          }
        }
        .message-one {
          font-family: $font;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #ffffff;
          margin-top: 25px;
          @include mq(0, 450px) {
            text-align: center;
          }
        }
        .media-logos {
          @include mq(0, 450px) {
            text-align: center;
          }
          li {
            display: inline-block;
            transform: translateY(10px);
            a {
              position: relative;
              margin-right: 12px;
              .social-logo {
                height: 40px;
              }
            }
          }
        }
        .message-two {
          margin-top: 50px;
          width: 313px;
          height: 96px;
          font-family: $copy-font2;
          font-style: normal;
          font-weight: normal;
          font-size: 21px;
          line-height: 31px;
          letter-spacing: 0.05em;
          color: #ffffff;
          @include mq(0, 450px) {
            text-align: center;
          }
          .hashtag {
            font-family: $copy-font4;
          }
        }
      }
    }
  }
}
