.profile {
  .wrapper {
    background-color: black;
    overflow: hidden;
    article {
      width: 100%;
      height: 700px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 25px;
      text-align: center;
      .logo {
        margin-bottom: 25px;
        p {
          font-family: $font2;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 10px;
          letter-spacing: 0.02em;
          color: #ffffff;
          margin-top: 15px;
        }
      }
      .id {
        width: 266px;
        height: 120px;
        position: relative;
        font-size: 0;
        left: 50%;
        opacity: 1;
        transform: translateX(-50%);
        transition: left 0.5s ease-in-out;
        .containerImage {
          position: absolute;
          top: 0;
          left: 0;
          transition: left 0.5s ease-in-out;
          &.show {
            transition: opacity 0.5s ease-in-out;
            opacity: 1;
          }
          &.hide {
            transition: opacity 0.5s ease-in-out;
            opacity: 0;
          }
        }
        &.idLeft {
          left: 380px;
        }
      }
      .text {
        width: 390px;
        text-align: left;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease-in-out;
        padding: 0;
        @include mq(0, 450px) {
          padding: 0 25px;
        }
        &.hide {
          opacity: 0;
        }
        .description-one {
          font-family: $copy-font2;
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 31px;
          letter-spacing: 0.05em;
          color: #ffffff;
          text-align: center;
          margin-top: 22px;
          margin-bottom: 10px;
          @include mq(0, 450px) {
            font-size: 14px;
            line-height: 17px;
            top: 299px;
          }
          .oneRed {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 150%;
            color: #da441f;
            @include mq(0, 450px) {
              font-size: 17px;
              line-height: 21px;
            }
          }
          .oneYellow {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 150%;
            color: #dabc1f;
            @include mq(0, 450px) {
              font-size: 17px;
              line-height: 21px;
            }
          }
          .oneGreen {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 150%;
            color: #5feebb;
            @include mq(0, 450px) {
              font-size: 17px;
              line-height: 21px;
            }
          }
        }
        .description-two {
          font-family: $copy-font2;
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 31px;
          letter-spacing: 0.05em;
          color: #ffffff;
          text-align: center;
          @include mq(0, 450px) {
            top: 394px;
            font-size: 13px;
            line-height: 29px;
          }
          .cinema {
            color: #da441f;
          }
          .exhibition {
            color: #dabc1e;
          }
          .music {
            color: #5feebb;
          }
        }
      }
    }
    .container {
      div {
        position: absolute;
        display: inline-block;
        &.event {
          pointer-events: none;
        }
        &.triangle {
          width: 700px;
          height: 700px;
          top: 0;
          left: -155px;
          transition: 0.5s ease-in-out;
          @include mq(0, 450px) {
            display: none;
          }
          .containerImage {
            &.rotate {
              top: 55px;
              left: -100px;
              transform: rotate(15deg);
            }
            &.show {
              transition: opacity 0.5s ease-in-out;
              opacity: 1;
            }
            &.hide {
              transition: opacity 0.5s ease-in-out;
              opacity: 0;
            }
          }
          &.animation-tri {
            top: -50px;
            left: 450px;
            transform: rotate(-15deg);
          }
          &.animation-square {
            transition: transform 0.5s ease-in-out forwards;
            left: 450px;
            top: 250px;
            transform: rotate(-25deg);
            opacity: 0.4;
          }
          &.animation-circle {
            animation: transform 0.5s ease-in-out forwards;
            top: 100px;
            left: 900px;
            transform: rotate(20deg);
            opacity: 0.4;
          }
        }
        &.square {
          width: 500px;
          height: 430px;
          right: 150px;
          top: -100px;
          transition: 0.5s ease-in-out;
          @include mq(0, 450px) {
            display: none;
          }
          .containerImage {
            &.rotate {
              top: -25px;
              right: -20px;
              transform: rotate(-15deg);
            }
            &.show {
              transition: opacity 0.5s ease-in-out;
              opacity: 1;
            }
            &.hide {
              transition: opacity 0.5s ease-in-out;
              opacity: 0;
            }
          }
          &.animation-tri {
            transition: transform 0.5s ease-in-out forwards;
            right: 150px;
            top: 450px;
            transform: rotate(50deg);
            opacity: 0.3;
          }
          &.animation-square {
            transition: transform 0.5s ease-in-out forwards;
            right: 480px;
            top: 150px;
            transform: rotate(15deg);
          }
          &.animation-circle {
            transition: transform 0.5s ease-in-out forwards;
            right: 50px;
            top: 350px;
            transform: rotate(-15deg);
            opacity: 0.4;
          }
        }
        &.circle {
          width: 290px;
          height: 290px;
          bottom: 350px;
          right: 50px;
          transition: 0.5s ease-in-out;
          @include mq(0, 450px) {
            display: none;
          }
          .containerImage {
            &.show {
              transition: opacity 0.5s ease-in-out;
              opacity: 1;
            }

            &.hide {
              transition: opacity 0.5s ease-in-out;
              opacity: 0;
            }
          }
          &.animation-tri {
            transition: transform 0.5s linear;
            transform-origin: top right;
            transform-style: preserve-3D;
            transform: rotate(-20deg);
            opacity: 0.4;
          }
          &.animation-square {
            right: 60px;
            bottom: 240px;
            opacity: 0.4;
            transition: transform 0.5s linear;
            transform-origin: top;
            transform-style: preserve-3D;
            transform: rotate(15deg);
          }
          &.animation-circle {
            bottom: 500px;
            right: 550px;
          }
        }
      }
      .trianglePer {
        position: absolute;
        top: 80px;
        right: 350px;
        z-index: 1;
        opacity: 0;
        transition: 0.5s ease-in-out;
        &.show {
          opacity: 1;
        }
        p {
          color: #fff;
          font-family: $copy-font4;
          font-weight: bold;
          font-size: 120px;
          vertical-align: bottom;

          .per {
            display: inline-block;
            vertical-align: bottom;
            padding-bottom: 10px;
            font-size: 70px;
          }
          .text {
            display: block;
            font-size: 24px;
            text-transform: uppercase;
            font-family: $font;
            font-weight: initial;
          }
        }
      }
      .squarePer {
        position: absolute;
        top: 250px;
        right: 350px;
        z-index: 1;
        opacity: 0;
        transition: 0.5s ease-in-out;
        &.show {
          opacity: 1;
        }
        p {
          color: #fff;
          font-family: $copy-font4;
          font-weight: bold;
          font-size: 120px;
          vertical-align: bottom;
          .per {
            display: inline-block;
            vertical-align: bottom;
            padding-bottom: 10px;
            font-size: 70px;
          }
          .text {
            display: block;
            font-size: 24px;
            text-transform: uppercase;
            font-family: $font;
            font-weight: initial;
          }
        }
      }
      .circlePer {
        position: absolute;
        top: 150px;
        right: 500px;
        z-index: 1;
        opacity: 0;
        transition: 0.5s ease-in-out;
        &.show {
          opacity: 1;
        }
        p {
          color: #fff;
          font-family: $copy-font4;
          font-weight: bold;
          font-size: 120px;
          vertical-align: bottom;
          .per {
            display: inline-block;
            vertical-align: bottom;
            padding-bottom: 10px;
            font-size: 70px;
          }
          .text {
            display: block;
            font-size: 24px;
            text-transform: uppercase;
            font-family: $font;
            font-weight: initial;
          }
        }
      }
      .description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 650px;
        height: 680px;
        margin-left: 50px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        &.show {
          opacity: 1;
        }
        .title {
          position: relative;
          left: 47%;
          transform: translateX(-50%);
          margin-bottom: 25px;
          &.titleCircle {
            position: absolute;
          }
          p {
            font-size: 24px;
            font-family: $font;
            color: #fff;
            span {
              text-transform: uppercase;
            }
          }
        }
        .image {
          padding: 0;
          position: relative;
          left: 0;

          &.imageCircle {
            margin-top: 50px;
            left: 50px;
          }
        }
        .titleAndDescription {
          position: absolute;
          width: 420px;
          top: 350px;
          left: 200px;
          color: #fff;
          padding-right: 10px;
          h1 {
            font-size: 21px;
            font-weight: bold;
            margin-bottom: 5px;
            font-family: $copy-font4;
          }
          h2 {
            font-size: 17px;
            margin-bottom: 8px;
            font-family: $copy-font4;
          }
          p {
            font-size: 17px;
            margin-bottom: 25px;
            font-family: $copy-font2;

            &.text {
              font-size: 15px;
              line-height: 28px;
            }
          }
        }
      }
      .submit {
        position: relative;
        width: 1050px;
        height: 250px;
        text-align: center;
        padding-top: 0;
        transition: 0.3s ease-in;
        @include mq(0, 450px) {
          width: 335px;
          padding: 25px;
          left: 50%;
          transform: translate(-50%, -40%);
        }
        h1 {
          .first {
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 31px;
            letter-spacing: 0.05em;
            color: #ffffff;
            text-align: center;
            @include mq(0, 450px) {
              font-size: 13px;
              line-height: 29px;
            }
          }
          .second {
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 31px;
            letter-spacing: 0.05em;
            color: #ffffff;
            text-align: center;
            display: block;
            @include mq(0, 450px) {
              font-size: 13px;
              line-height: 29px;
              margin-top: 15px;
            }
          }
        }
        &.hide {
          opacity: 0;
        }
        .box {
          display: inherit;
          text-align: left;
          width: 500px;
          height: 150px;
          position: relative;
          margin: 25px auto;
          span {
            display: inline-block;
            width: 60%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            @include mq(0, 450px) {
              width: 30%;
            }
            input {
              display: block;
              margin-bottom: 25px;
              border: none;
              border-bottom: 3px solid #fff;
              color: white;
              background: transparent;
              width: 100%;
              padding: 0 0 10px 25px;
              &::placeholder {
                color: #fff;
                opacity: 1;
              }
            }
          }
          .button {
            display: inline-block;
            height: 150px;
            width: 150px;
            vertical-align: top;
            border: 3px solid #fff;
            border-radius: 50%;
            margin-left: 25px;
            text-align: center;
            transition: opacity 0.2s ease-in-out;
            @include mq(0, 450px) {
              width: 120px;
              height: 120px;
              margin-left: 15px;
            }
            &:hover {
              transition: opacity 0.2s ease-in-out;
              opacity: 0.5;
            }
            a {
              font-family: $font;
              font-style: normal;
              font-weight: normal;
              font-size: 21px;
              line-height: 135px;
              text-decoration: none;
              text-align: center;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: #ffffff;
              @include mq(0, 450px) {
                font-size: 16px;
                line-height: 115px;
              }
            }
          }
        }
      }
    }
  }
}
