.questions {
  width: 100%;
  height: 100%;
  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .questions-container {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 0;
      margin: 0 auto;
      overflow: hidden;
      h2 {
        position: absolute;
        top: 52px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        width: 1200px;
        height: 86px;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 50px;
        color: #ffffff;
        z-index: 3;
        @include mq(0, 450px) {
          font-size: 16px;
          line-height: 20px;
          position: absolute;
          width: 335px;
          height: 40px;
          top: 30px;
        }
        .bold {
          font-weight: 900;
        }
      }
      .shadow-top {
        font-size: 0;
        background: rgba(0, 0, 0, 0.8);
        filter: blur(150px);
        position: absolute;
        width: 100%;
        height: 345px;
        left: 0px;
        top: -132px;
        z-index: 1;
        @include mq(0, 450px) {
          position: absolute;
          width: 375px;
          height: 115px;
          left: 0px;
          top: -49px;
        }
      }
      .option {
        display: inline-block;
        position: relative;
        text-align: center;
        overflow: hidden;
        background-color: black;
        width: 33.33%;
        height: 100%;
        @include mq(0, 450px) {
          width: 100%;
          height: 30%;
          &:nth-of-type(2) {
            height: 40%;
          }
          &:nth-of-type(3) {
            height: 30%;
          }
        }
        a {
          @include mq(0, 450px) {
            text-decoration: none;
          }
          .option-bg {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .option-info {
            width: 100%;
            position: absolute;
            top: 208px;
            z-index: 3;
            transform: translate(0, 120px);
            @include mq(0, 450px) {
              position: relative;
              transform: translate(0, -380px);
            }
            .geometric {
              height: 280px;
              transition: transform 1.5s;
              @include mq(0, 450px) {
                height: 120px;
                top: 94px;
                transition: transform 1.5s;
              }
              &:hover {
                transform: translateY(-40px) rotate(180deg) scale(1.15, 1.15);
                @include mq(0, 450px) {
                  transform: rotate(180deg) scale(1.1, 1.1);
                }
              }
            }
            p {
              height: 58px;
              top: 510px;
              font-family: $copy-font2;
              font-style: normal;
              font-weight: normal;
              font-size: 17px;
              line-height: 20px;
              text-align: center;
              text-transform: uppercase;
              letter-spacing: 0.05em;
              color: #ffffff;
              margin-top: 22px;
              span {
                display: block;
                @include mq(0, 450px) {
                  display: inline-block;
                }
              }
              @include mq(0, 450px) {
                font-size: 13px;
                line-height: 16px;
                margin-top: 15px;
              }
            }
          }
        }
        &:hover .partial-overlay {
          opacity: 1;
        }
        .partial-overlay {
          font-size: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          transition: 0.5s ease;
          opacity: 0;
          background-color: rgba(210, 35, 42, 0.7);
          mix-blend-mode: color;
          z-index: 2;
        }
      }
      .shadow-bottom {
        font-size: 0;
        background: rgba(0, 0, 0, 0.8);
        filter: blur(150px);
        position: absolute;
        width: 100%;
        height: 345px;
        left: 0px;
        bottom: -132px;
        z-index: 1;
        @include mq(0, 450px) {
          position: absolute;
          width: 375px;
          height: 115px;
          left: 0px;
          top: 727px;
        }
      }
    }
  }
}
